/wp-content/themes/twenty*

/wp-content/upgrade

/wp-content/uploads

/wp-admin

uploads/

uploads

/uploads

/uploads/

/wp-content

wp-admin

wp-content

wordpress/wp-admin

wordpress/wp-content

wordpress/wp-admin/

wordpress/wp-content/

/sitemap.*

/wp-config.php

*.sql
